@tailwind base;
@tailwind components;
@tailwind utilities;
/* iranyekanwebbold */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/eot/IRANYekanWebBold.eot');
	src: url('/fonts/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebBold.ttf') format('truetype');
}
/* iranyekanwebthin */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/eot/IRANYekanWebThin.eot');
	src: url('/fonts/eot/IRANYekanWebThin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebThin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebThin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebThin.ttf') format('truetype');
}
/* iranyekanweblight */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/eot/IRANYekanWebLight.eot');
	src: url('/fonts/eot/IRANYekanWebLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebLight.ttf') format('truetype');
}
/* iranyekanwebregular */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/eot/IRANYekanWebRegular.eot');
	src: url('/fonts/eot/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebRegular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebRegular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebRegular.ttf') format('truetype');
}
/* iranyekanwebmedium */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/eot/IRANYekanWebMedium.eot');
	src: url('/fonts/eot/IRANYekanWebMedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebMedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebMedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebMedium.ttf') format('truetype');
}
/* iranyekanwebextrabold */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/eot/IRANYekanWebExtraBold.eot');
	src: url('/fonts/eot/IRANYekanWebExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebExtraBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
}
/* iranyekanwebblack */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('/fonts/eot/IRANYekanWebBlack.eot');
	src: url('/fonts/eot/IRANYekanWebBlack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebBlack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebBlack.ttf') format('truetype');
}
/* iranyekanwebextrablack */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/eot/IRANYekanWebExtraBlack.eot');
	src: url('/fonts/eot/IRANYekanWebExtraBlack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/fonts/woff/IRANYekanWebExtraBlack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/fonts/woff2/IRANYekanWebExtraBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/fonts/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
}

/*! ----------------    mainSlider indexPage swiper    ----------------------- */

.mainSlider_indexPage_swiper > .swiper-pagination-bullets {
    margin-bottom: 10px;
}

.mainSlider_indexPage_swiper > .swiper-pagination-bullets > .swiper-pagination-bullet-active-main {
    background-color: #000000;
}
.mainSlider_indexPage_swiper > .swiper-button-prev ,
.mainSlider_indexPage_swiper > .swiper-button-next{
    display: none;
}
@media only screen and (min-width : 720px){
    .mainSlider_indexPage_swiper > .swiper-button-prev ,
    .mainSlider_indexPage_swiper > .swiper-button-next{
        display: flex;
    }
}
/*! ----------------    offersSlider indexPage swiper   ----------------------- */

/*  */

.offersSlider_indexPage_swiper .swiper-slide{
    width: auto !important;
}
.offersSlider_indexPage_swiper > .swiper-button-prev ,
.offersSlider_indexPage_swiper > .swiper-button-next{
    display: none;
}
@media only screen and (min-width : 720px){
    .offersSlider_indexPage_swiper > .swiper-button-prev ,
    .offersSlider_indexPage_swiper > .swiper-button-next{
        display: flex;
    }
}
/*! ----------------    searchSlider_header header swiper   ----------------------- */

.searchSlider_header .swiper-slide{
    width: auto !important;
}
.searchSlider_header .swiper-button-next {
    --swiper-navigation-size : 10px;
    background-color: rgb(255, 255, 255);
    padding: 13px 13px; 
    border-radius: 100%;
    border: 1px solid rgb(196, 196, 196);
    margin-top: -13px;
    box-shadow: 0 0 3px 0px rgb(186, 186, 186);
}
.searchSlider_header .swiper-button-prev {
    --swiper-navigation-size : 10px;
    background-color: rgb(255, 255, 255);
    padding: 13px 13px; 
    border-radius: 100%;
    border: 1px solid rgb(196, 196, 196);
    margin-top: -13px;
    box-shadow: 0 0 3px 0px rgb(186, 186, 186);
}

/*! ----------------    swiper productPage  ----------------------- */

.swiper_productPage .swiper-wrapper{
     padding: 20px 0;
}

/*! ----------------    All Swiper  ----------------------- */

.swiper-button-disabled{
    display: none !important;
    opacity: 0;
}
.swiper-button-next {
     --swiper-navigation-size : 20px;
     background-color: rgb(255, 255, 255);
     padding: 20px 20px; 
     border-radius: 100%;
     margin: 0 10px;

    /*! Change Icon */
    background-image: url(../src/images/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
}
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    --swiper-navigation-size : 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px; 
    border-radius: 100%;
    margin: 0 10px;
    /*! Change Icon */
    background-image: url(../src/images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
    
}
.swiper-button-prev::after {
    display: none;
}

.swiper-pagination{
     margin: 20px 0 0 0;
     position: absolute;
     bottom: 20px;
     margin: 0px 0 -10px 0;
}
.swiper-pagination-bullet-active-main{
     background-color: white;
}
:root {
    --toastify-font-family: 'iranyekan';
}
.Toastify__toast-body { font-family: 'iranyekan'; font-size: 14px;}
.Toastify {
    position: absolute;
    z-index: 10000000;
}

::selection {
  background: #f7afaf;
}
  
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

html,
body {
  font-family: "iranyekan";
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.class_grid_manage_products{
	width: 100%;
    padding: 0 0;
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax( 120px, 1fr ));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
